#IIAB menus-service apache2 config file

WSGIScriptAlias /menus-service {{ menus_service_dir }}/server.py
WSGIScriptReloading On 

<Directory {{ menus_service_dir }}>
	require all granted
</Directory>
