[Unit]
Description=Fetch Menu Data from Database
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/iiab/iiab-menu
ExecStart=/opt/iiab/iiab-menu/server.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
